
PORT=8000
CORS_ORIGIN=http://localhost:3000,http://localhost:5173

MONGO_URI=mongodb://127.0.0.1:27017


ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRES_IN=1h

REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRES_IN=7d


// brevo kpi key is genrated using rajballavkumar1432 email and 7367881697 
BREVO_API_KEY=your api key 

// for maingen 
APP_NAME=Project Management
APP_URL=http://localhost:8000

SENDER_NAME=Project Management
SENDER_EMAIL=Your email || rajballavkumar1432@gmail.com

FROGOT_PASSWORD_URL=http://localhost:5173/reset-password

